<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sjh.web.mappers.reservation.ReservationMapper">
	<insert id="insert">
		INSERT INTO
			reservation(product_id,member_id,date,people)
		VALUES(#{productId}, #{memberId}, #{date}, #{people})
	</insert>

	<select id="select" resultMap="reservationResultMap">
		SELECT
			r.id, r.product_id,
			p.name AS product_name,
			r.create_date, r.date, r.people,
			f.id AS f_id, file.name AS file_name
		FROM reservation AS r
		LEFT JOIN product_info ASp ON r.product_id = p.product_id
		LEFT JOIN file ON r.product_id = file.product_id
		WHERE r.id=#{id}
		AND file.name LIKE "%_ma_%"
	</select>

	<select id="listUp" resultMap="reservationResultMap">
		SELECT
			r.id, r.product_id,
			p.name AS product_name,
			r.create_date, r.date, r.people,
			f.id AS f_id, file.name AS file_name,
			IF(c.id IS NULL, 'false', 'true') AS hasReview
		FROM reservation AS r
		LEFT JOIN reservation_has_review AS c ON r.id=c.reservation_id
		LEFT JOIN file ON r.product_id = file.product_id
			AND file.name LIKE "%_ma_%"
		LEFT JOIN product_info AS p ON r.product_id = p.product_id
		<if test="memberId != null">
			WHERE r.member_id LIKE #{memberId}
		</if>
		ORDER BY r.create_date DESC
	</select>

	<update id="update">
		UPDATE reservation
		<set>
			<if test="date != null">date=#{date},</if>
			<if test="people != null">people=#{people}</if>
		</set>
		WHERE id=#{id}
	</update>

	<delete id="delete">
		DELETE FROM reservation
		WHERE id=#{id}
	</delete>

	<resultMap id="reservationResultMap" type="ReservationDto">
		<id property="id" column="id" />
		<result property="productId" column="product_id" />
		<result property="productName" column="product_name" />
		<result property="memberId" column="member_id" />
		<result property="createDate" column="create_date" />
		<result property="date" column="date" />
		<result property="hasReview" column="hasReview" />
		<result property="people" column="people" />
		<association property="img" javaType="FileDto">
			<result property="name" column="file_name" />
		</association>
	</resultMap>
</mapper>