#detail h4{
	font-weight: bolder;
	text-align: center;
}

#detail{
	height: 180px;
	padding: 20px;
}

#btnContainer{
	height: 60px;
	background: #ffc107;
	text-align: center;
}

#btnContainer div{
	text-align: center;
	padding: 10px;
}

#btnContainer a{
	margin: auto auto;
	color: white;
	text-decoration: none;
	font-size: 25px;
}

#btnContainer a:hover{
	font-weight: bolder;
	color: white;
	text-decoration: none;
	cursor:pointer;
}

#commnetList .commentContainer{
	width: 60%;
	margin: 15px;
}