#detail h4{
	font-weight: bolder;
	text-align: center;
}

#detail{
	height: 180px;
	padding: 20px;
}

#btnContainer{
	height: 60px;
	background: #ffc107;
	text-align: center;
}

#btnContainer div{
	text-align: center;
	padding: 10px;
}

#btnContainer a{
	margin: auto auto;
	color: white;
	text-decoration: none;
	font-size: 25px;
}

#btnContainer a:hover{
	font-weight: bolder;
	color: white;
	text-decoration: none;
	cursor:pointer;
}

#reviewList{
	margin: 20px;
}

#ratingText{
	float:left;
	margin-left: 5px;
}

#ratingAvg{
	float:left;
}

.reviewContainer content{
	display: inline-block;
	width: 60%;
	margin-left: 5px;
}

.reviewContainer imgContainer{
	display: inline-block;
	margin-right: 5px;
	width: 20%;
}

.reviewContainer imgContainer:hover{
	cursor:pointer;
}

#reviewImgModal .carousel-item img{
	margin: 2px;
	width: 450px;
	height: 300px;
}

.jq-ry-container{
	padding: 0 !important;
}