<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.sjh.web.mappers.comment.CommentMapper">
	<insert id="insert">
		INSERT INTO
		comment(member_id,product_id,score,content)
		VALUES(#{memberId}, (SELECT product_id FROM reservation WHERE id=#{reservationId}), #{score}, #{content})
	</insert>
	
	<insert id="insertRelation">
		INSERT INTO
			reservation_has_comment(reservation_id, comment_id)
		VALUES (#{reservationId}, (SELECT MAX(id) FROM comment))
	</insert>

	<select id="select" parameterType="java.lang.Integer" resultType="CommentDto">
		SELECT *
		FROM comment
		<if test="_parameter == 0">
			ORDER BY id DESC 
			LIMIT 0, 1;
		</if>
		<if test="_parameter != 0">
			WHERE id=#{_parameter}
		</if>
	</select>

	<select id="listUp" resultType="CommentDto">
		SELECT *
		FROM comment
		<where>
			<if test="productId != 0">
				AND product_id=#{productId}
			</if>
			<if test="memberId != null">
				AND member_id = #{memberId}
			</if>
		</where>
		ORDER BY date DESC
	</select>

	<delete id="delete">
		DELETE FROM comment
		WHERE id=#{id}
	</delete>
	
	<delete id="deleteRelation">
		DELETE FROM reservation_has_comment
		WHERE comment_id=#{id}
	</delete>

</mapper>